@font-face {
  font-family: AvenirNext-Bold; 
  src: url(./AvenirNext-Bold.generated.eot); 
}

@font-face {
  font-family: AvenirNext-Bold; 
  src: url(./AvenirNext-Bold.generated.ttf); 
}

@font-face {
  font-family: AvenirNext-Bold; 
  src: url(./AvenirNext-Bold.generated.woff); 
}

@font-face {
  font-family: AvenirNext-Bold; 
  src: url(./AvenirNext-Bold.generated.woff2); 
}

@font-face {
  font-family: AvenirNext-Bold; 
  src: url(./AvenirNext-Bold.ttf); 
}

@font-face {
  font-family: Avenir Next; 
  src: url(./AvenirNext-Regular.generated.eot); 
}

@font-face {
  font-family: Avenir Next; 
  src: url(./AvenirNext-Regular.generated.ttf); 
}

@font-face {
  font-family: Avenir Next; 
  src: url(./AvenirNext-Regular.generated.woff); 
}

@font-face {
  font-family: Avenir Next; 
  src: url(./AvenirNext-Regular.generated.woff2); 
}

@font-face {
  font-family: Avenir Next; 
  src: url(./AvenirNext-Regular.ttf); 
}

@font-face {
  font-family: Roboto; 
  src: url(./Roboto-Regular.ttf); 
}